@model SalesWebMVC.Models.Seller

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Seller</h4>
    <hr />
    <dl class="dl collapse-horizontal">
        <dt>
            @Html.DisplayNameFor(Model => Model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.Birthdate)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Birthdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.BaseSalary)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.BaseSalary)
        </dd>
          <dt>
            @Html.DisplayNameFor(Model => Model.Department.Name)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Department.Name)
        </dd>

    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index">Back to List</a>

</div>


